.content {
  flex-grow: 1;
  height: 100vh;
  overflow: auto;
}

.bodyTitle {
  color: #173a77;
  text-align: center;
  font-size: 1.5625em;
  /* border: 2px solid red; */
}

.activeTitle {
  text-decoration: underline;
}

.nonActiveTitle {
  opacity: 0.5;
}

.billPayment {
  text-align: left;
  color: #aa3a21;
}

/* .border {
      border: 2px solid red;
  } */

.toForm {
  color: #173a77;
  margin-left: 130px;
  font-size: 1.25em;
}

.toFormConfirmation > p {
  margin-top: 40px;
}

.fromForm {
  color: #173a77;
  margin-left: 130px;
  font-size: 1.25em;
}

.fromFormConfirmation > p {
  margin-top: 40px;
}

#nextButton {
  margin-top: 100px;
  width: 260px;
  background-color: #e26448;
  color: white;
  font-weight: bold;
  font-size: 1.25em;
}

#submitButton {
  margin-top: 200px;
  width: 260px;
  background-color: #e26448;
  color: white;
  font-weight: bold;
  font-size: 1.25em;
}

#cancelButton {
  margin-top: 20px;
  width: 260px;
  background-color: #aa3a21;
  color: white;
  font-weight: bold;
  font-size: 1.25em;
}

.paperHeight {
  height: 120px;
  text-align: left;
  padding: 30px;
  margin: 30px;
  width: 80vw;
  font-size: 1.125em;
}

.paperHeight:hover {
  box-shadow: 5px 5px #cccccc;
}

.infoIcon {
  color: #173a77;
  float: right;
  margin-top: -20px;
}

#addPayee {
  margin: 50px;
  float: right;
  width: 260px;
  background-color: #e26448;
  color: white;
  font-weight: bold;
  font-size: 1.25em;
}

.buttonContainer {
  float: right;

  margin: 30px;
}

#savePayeeButton {
  margin-top: 60vh;
  width: 260px;
  background-color: #e26448;
  color: white;
  font-weight: bold;
  font-size: 1.25em;
}

#confirmButton {
  margin-top: 20px;
  width: 260px;
  background-color: #aa3a21;
  color: white;
  font-weight: bold;
  font-size: 1.25em;
}
